body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.step-title {
  background-color: #f1f1f1;
  border-top: #f90 1px solid;
}

body {
  background-color: #f0f2f5 !important;
}
aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 120px;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 12px;
  color: rgba(255,255,255,.65);
  background-color: #001529;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.container {
  margin: 12px 12px 12px 132px;
  padding: 12px;
  background-color: #fff;
}
